<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h2>That is the Home Page</h2>
<hr>
Welcome to our home page
<hr>
<div>
    User Name: <span sec:authentication="principal.username"></span>
</div>
<div>
Role(s): <span sec:authentication="principal.authorities"></span>
</div>
<hr>
<div sec:authorize="hasRole('MANAGER')">
    <a th:href="@{/leaders}">Leader Secrets Info</a>
    <br><br>

</div>
<div sec:authorize="hasRole('ADMIN')">
<a th:href="@{/systems}">Admins Secrets Info</a>
<hr>
</div>
<form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>