

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form</title>
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
</head>
<body>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">


          First Name: <input type="text" th:field="*{firstName}"/>
  </br>
            Last  Name: <input type="text" th:field="*{lastName}"/>
    </br>


    <input type="submit">
</form>
<!--<p th:text="'Time on the server is: '+ ${theDate}" class="basic"></p>-->
</body>
</html>