

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
</head>
<body>


<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    <div class="form-group">
        <label  for="firstName">First Name:</label>
        <input  type="text" id="firstName" class="form-control"   th:field="*{firstName}"/>
    </div>
    <div class="form-group">
        <label for="lastName"> Last  Name:</label>
        <input type="text" id="lastName"  class="form-control"  th:field="*{lastName}"/>
    </div>
    <div class="form-group">
        <label for="country"> Country:</label>
        <select type="text" id="country"  class="form-control"   th:field="*{country}">
            <option th:each="student: ${countries}" th:value="${student}" th:text="${student}" />
        </select>
    </div>

        <label > Language:</label>
            <input type="radio"   th:each="language: ${languages}"
                   th:field="*{favoritelanguage}"
                   th:value="${language}" th:text="${language}" />
    <br>
    <button class="btn btn-default" type="submit">Submit</button>
</form>
</body>
</html>